<h3>About this in details</h3>
<br />
<p>
		<%= @resdetail['ntext'] %>
		<br />
		added by <%= @resdetail['username'] %> at: <%= @resdetail['datetime'] %>
</p>

<br />
<h3>Comments</h3>

<br />
<% @news_comment.each do |cmnt| %>
	<p>
		<span style ="font-size=90%"> <%= cmnt['cmtext'] %> 
		<br />
		<span style ="font-size=85%; color: #880"> user <%= cmnt['cmname'] %> has added this for
		 news#<%= cmnt['news_id'] %> at: <%= cmnt['cdatetime'] %>
		 <hr/>
	</p>
<%	end	%>

	<form action="<%= @resdetail['id'] %>" method="POST" role="form">
		  <div class="form-group">
		    <label for="exampleFormControlTextarea1"></label>
		    <textarea name="comment_text" placeholder="comment area" 
		    class="form-control" rows="2" style="width: 600px"></textarea>
		  </div>
		  <div class="form-inline">
		    <input name="commenter_name" type="login" class="form-control" placeholder="Your name">
		    <button type="submit" class="btn btn-primary">Add comment</button>  
		  </div>
		  </br>
	 </form>